<div class="stats bg-primary w-full text-primary-content rounded-md text-center">
  <div class="stat">
    <div class="stat-title text-primary-content">Funds</div>
    <div class="stat-value">{{ss.funds}}$</div>
    
  </div>
  <div class="stat">
    <div class="stat-title text-primary-content">Expenses</div>
    <div class="stat-value">{{ss.expenses}}$</div>
    
  </div>
  <div class="stat">
    <div class="stat-title text-primary-content">Earnings</div>
    <div class="stat-value">{{ss.earnings}}$</div>
    
  </div>

  <div class="stat">
    <div class="stat-title text-primary-content">Current balance</div>
    <div class="stat-value">{{ss.balance}}$</div>
  </div>
</div>
