<table class="table bg-primary text-primary-content rounded-md">
  <thead>
    <tr class="text-primary-content">
      <th class="py-0 pl-2 pr-0">
        <button
          class="btn btn-circle btn-xs btn-success text-primary-content mt-0.5"
          (click)="toggleAddFund()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            class="w-4 h-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
        </button>
      </th>
      <th>title</th>
      <th>amount</th>
      <th class="px-0">date</th>
      <th>source</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <tr class="">
      <td colspan="7" class="p-0">
        <div
          class="{{
            addFundOpen ? 'h-32 my-2' : 'h-0'
          }} overflow-hidden transition-all ease-out duration-300 w-full flex justify-evenly flex-wrap"
        >
          <input
            type="text"
            placeholder="title"

            class="input input-sm w-32 text-secondary-content"
          />
          <input
            type="number"
            placeholder="amount"
            class="input input-sm w-32 text-secondary-content"
          />
          <input
            type="datetime-local"
            placeholder="date"
            class="input input-sm w-32 text-secondary-content"
          />
          <input
            type="text"
            placeholder="source"
            class="input input-sm w-32 text-secondary-content"
          />
          <div class="flex items-center gap-5">
            <button class="btn btn-sm btn-error">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              Cancel
            </button>
            <textarea
              type="text"
              placeholder="description"
              rows="4"
              
              class="textarea textarea-sm w-60 text-secondary-content leading-tight resize-none"
            ></textarea>
            <button class="btn btn-sm btn-success">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              Confirm
            </button>
          </div>
        </div>
      </td>
    </tr>
    <tr class="">
      <td class="group py-1 px-0 max-w-[42px]">
        <p class="group-hover:hidden text-center">1</p>
        <div class="hidden group-hover:flex gap-1 pl-2 w-0 group-hover:w-16">
          <button class="btn btn-circle btn-xs btn-error text-primary-content">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
              />
            </svg>
          </button>
          <button
            class="btn btn-circle btn-xs btn-secondary text-primary-content"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
              />
            </svg>
          </button>
        </div>
      </td>
      <td>Food</td>
      <td>1000</td>
      <td class="w-[120px] px-0">0000-00-00 00:00</td>
      <td>Samir</td>
      <td>Description of the fund, a</td>
    </tr>
  </tbody>
</table>
