<div class="flex justify-center gap-5 mt-5 flex-wrap">
  <div *ngIf="events.loading" class="flex items-center gap-2">
    <h1 class="text-xl font-bold">Loading</h1>
    <span class="loading loading-infinity loading-lg"></span>
  </div>
  <div *ngFor="let event of events.events">
    <app-event-card
      name="{{ event.name }}"
      description="{{ event.description }}"
      link="{{ event.link }}"
    />
  </div>
</div>
<div class="flex justify-center mt-5">
  <button class="btn btn-primary" onclick="add_event_modal.showModal()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2.5"
      stroke="currentColor"
      class="w-5 h-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>
    Add Event
  </button>
</div>
<dialog id="add_event_modal" class="modal">
  <div class="modal-box outline outline-primary outline-3">
    <button
      class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
      onclick="add_event_modal.close()"
    >
      ✕
    </button>
    <h3 class="font-bold text-lg mb-5">Add an event</h3>
    <form action="#" class="flex justify-evenly gap-5 flex-wrap">
      <input
        type="text"
        placeholder="name"
        class="input input-primary input-sm w-52"
      />
      <input
        type="datetime-local"
        placeholder="date"
        class="input input-primary input-sm w-52"
      />
      <input
        type="text"
        placeholder="location"
        class="input input-primary input-sm w-52"
      />
      <input
        type="text"
        placeholder="treasurer"
        class="input input-primary input-sm w-52"
      />
      <div class="flex items-center gap-5">
            <button class="btn btn-sm btn-error">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </button>
            <textarea
              type="text"
              placeholder="description"
              rows="2"
              class="textarea textarea-primary textarea-sm p-2 w-60 leading-tight resize-none"
            ></textarea>
            <button class="btn btn-sm btn-success">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </button>
          </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
